    .color1 {
        background-color: #0dcaf0;
    }
    
    .color2 {
        background-color: #20c997;
    }
    
    .color3 {
        background-color: #198754;
    }
    
    .color4 {
        background-color: #ffc107;
    }
    
    .color5 {
        background-color: #fd7e14;
    }
    
    .color6 {
        background-color: #dc3545;
    }